:root {
    --background0: #0b0d1a;
    --text: #f0f1f2;
    --primary: #97a4d2;
    --secondary: #783471;
    --accent: #be6a8c;
}


* {
    word-wrap: break-word;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--background0);
    color: var(--text)
}


/* TODO: fix padding if vp size is larger than Xpx?*/
.padded {
    margin: 0 auto;
    width: 90%;
}

@media only screen and (min-width: 950px) {
    .padded {
        width: 50%;
    }
}

header {
    position: fixed;
    top: 0;
    padding-top: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 4rem;
}

header h1 {
    font-size: 1.5rem;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

header a {
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--text);
    text-decoration: none;
    font-size: 1.5rem;
}

/* Media Query to extend the header to fit desktop sizes ( anything above Xpx )*/
@media screen and (min-width: 950px) {
    header {
        position: fixed;
        top: 0;
        display: flex;
        padding: 0.5rem 20%;
        align-items: center;
        flex-direction: row;
        backdrop-filter: blur(10px);
        width: 100vw;
        height: 50px;
    }

    header h1 {
        white-space: nowrap;
        width: max-content;
        font-size: 1.5rem;
    }

    header nav {

        display: flex;
        gap: 0.5rem;
        text-align: center;
        justify-content: flex-end;
    }

    header a {
        font-size: 1.5rem;
        color: var(--text);
        text-decoration: none;
        font-size: 1.5rem;
    }
}

.selfie {
    margin-top: 1rem;

    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 50%;
    height: auto;

    background: linear-gradient(130deg, rgba(151, 164, 210, 1) 0%, rgba(120, 52, 113, 1) 100%) border-box, linear-gradient(90deg, rgba(151, 164, 210, 1) 0%, rgba(120, 52, 113, 1) 100%) padding-box;
    border-radius: 50%;
    border: .5rem solid transparent;
}

.spacer {
    height: 4rem;
}

/* main {} */

.header {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-decoration-thickness: 4px;
    margin: 1rem 0;

}


.bio span {
    font-weight: bold;
    margin-right: 1rem;
}

.bio p {
    color: var(--text);
    display: inline;
}


.itemrow {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem 0;
}

.item {
    max-width: 16rem;
    margin: 0 1rem;
    flex-basis: 100%;
    background-color: rgba(151, 164, 210, 0.1);
    border-radius: 1rem;
}

.item img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    height: auto;
}

.itembody {
    padding: 5px;
}


footer {
    height: 50px;
}
